# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools | 
|--------|
|  Jupyter Notebook   |
|  Apache Spark   | 
|  Hadoop   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
print('200 minutes = ',200/60,' hours.')

200 minutes =  3.3333333333333335  hours.

**Objectives:**
* languages used by data scientists
* Commonly used libraries used by data scientists
* Data Science tools

## Author
Rob B.